<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal - Feather Panel</title>
    <style>
        body {
            margin: 0;
            overflow-y: hidden;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
    <link rel="stylesheet" href="/assets/css/terminal.css">
</head>
<body>
    <script>
        let title = "<%= conf.title %>";
        let version = "<%= conf.version %>";
        let token = "<%= token %>";
        let server = JSON.parse(atob('<%= serverJSON %>'));
        let user = JSON.parse(atob('<%= userJSON %>'));
        let conf = JSON.parse(atob('<%= confJSON %>'));
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/assets/js/terminal.js"></script>
</body>
</html>